@import url(impact.ttf);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'impact', sans-serif;
}
section
{
    position: relative;
    width: 200vh;
    height: 200vh;
    overflow: hidden;
    background: #fff;
}
.text
{
    position: relative;
    transform: skewY(345deg) translateY(-200px);
    animation: animateColor 5s linear infinite;
}
@keyframes animateColor
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}
.text h2
{
    position: relative;
    width: 105%;
    font-size: 4.5em;
    color: #fff;
    pointer-events: none;
    line-height: 1em;
    text-shadow: calc(var(--x)) 100px 0 rgba(0, 0, 0, 0.1);
    transform: translateX(calc(0% - var(--x) * var(--i)));
}
.text h2 span
{
    color: #b3b6eb;
    margin: 0 10px;
}
.text h2 span:nth-child(even)
{
    color: transparent;
    -webkit-text-stroke: 2px #e98a98;
}